{% extends "layout.html" %}
{% block content %}


<div class="container align-items-center justify-content-center ">
    <div class="row">
        <h1>Drinks</h1>
        <p>List of Current Drinks</p>
        <p>
            To Do List:<br />
            Have drinks show contents underneath decoded<br />
            Add Favorite Button<br />
            Ability to Add Drinks<br />
            Favorite based sorting<br />
            Add delete and confirm button<br />
            Add edit drink button (use drink add like dialog)<br />
            Sort drinks by able to make<br />
        </p>
        <p>
            Done List:<br />
            Show Drinks in List<br />
        </p>
    </div>


    <div class="row">
        <div class="col">
            <div class="progress">
                {% if success %}
            <div class="alert alert-danger" role="alert">
                Successfully created {{success}}
              </div>
            {% endif %}
        </div>
    </div>

    <div class="row" style="padding-bottom: 20px;">
        <ul class="list-group">
            {% for d in drinks %}
            <li class="list-group-item">
                <div class="d-flex">
                    <div class="p-2 flex-grow-1"><h2>{{d.name}}</h2>
                        <h6>{{d.desc}}</h6>
                    
                    </div>
                    <div class="p-2">
                        {% if d.fav %}
                        <i class="fas fa-star"></i>
                        {% else %}
                        <i class="far fa-star"></i>
                        {% endif %}
                    </div>
                </div>
                Code: {{d.code}}<br />
                Number of Pours: {{d.numPours}}<br />
                
            </li>
            {% endfor %}

        </ul>
    </div>
    <br />
    <div class="row">
        <div class="col-auto me-auto"  style="padding-left: 0px;">
        </div>

        <div class="col-auto">
            <a class="btn btn-primary" href="{{ url_for('drinksCreate') }}">Create a Drink</a>
        </div>
    </div>

</div>



{% endblock %}