{% extends "layout.html" %}
{% block content %}


<div class="container align-items-center justify-content-center"  style="max-width: 750px">
    
    <!--<div class="row">
    <p>List of Current Drinks</p>
    <p>
            To Do List:<br />
            
            Add Favorite Button<br />
            Add delete and confirm button<br />
            Add edit drink button (use drink add like dialog)<br />
            Sort drinks by able to make<br />
        </p>

    </div>-->

    <div class="row" style="padding-bottom: 20px;">
        <h1>Drink List</h1>
        <p></p>
        <ul class="list-group">
            {% for d in drinks %}
            <li class="list-group-item">
                <div class="d-flex">
                    

                    <div class="p-2 flex-grow-1"><h2>{{d.name}}</h2>
                        <h6>{{d.desc}}</h6>
                    </div>

                    <div class="p-2">
                        <a href="{{url_for('drinksFav', id = d.id)}}">
                            {% if d.fav %}
                            <i class="fas fa-star"></i>
                            {% else %}
                            <i class="far fa-star"></i>
                            {% endif %}
                        </a>
                    </div>
                </div>
               
                
                <div class="collapse mt-3 scroll-section" id="collapse-{{d.name.replace(" ", "_")}}" >
                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col">Drink</th>
                            <th scope="col">Portion</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for x in d.code.split(", ") %}
                            <tr>
                                {% set spl = x.split(": ") %}
                                
                            <th scope="row">{{tapNames[spl[0]]}}</th>
                            <td>{% print('{:.0f}'.format(100*(spl[1]|float)) + "%") %}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    Number of Pours: {{d.numPours}}<br />
                    <br/>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    
                    <a data-mdb-toggle="collapse" class="btn btn-outline-primary btn-rounded"  data-mdb-ripple-color="primary" href="#collapse-{{d.name.replace(" ", "_")}}"  aria-expanded="false" aria-controls="collapse-{{d.name.replace(" ", "_")}}">
                        Expand Info
                    </a>
                    <!--<a class="btn btn-outline-primary btn-floating" href="{{ url_for('tapEdit', name=d.name) }}"   data-mdb-ripple-color="primary"  role="button">
                        <i class="fas fa-edit"></i>
                      </a>-->
                    <a class="btn btn-outline-danger btn-floating" href="{{url_for('drinksDelete', id = d.id)}}"   data-mdb-ripple-color="danger"  aria-expanded="false">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
                
            </li>
            {% endfor %}

        </ul>
    </div>
    <br />
    <div class="row">
        <div class="col-auto me-auto"  style="padding-left: 0px;">
        </div>

        <div class="col-auto">
            <a class="btn btn-primary" href="{{ url_for('drinksCreate') }}">Create a Drink</a>
        </div>
    </div>

</div>



{% endblock %}