{% extends "layout.html" %}
{% block content %}


  <div class="container align-items-center justify-content-center h-100 " >
    <div class="row">
        <h1>Create an Order</h1>
        <p>list with current drinks and button to add more </p>
    </div>
    <div class="row">
      <div class="col">
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
          </div>
      </div>
      <div class="col-2">
          x of 6 drinks
      </div>
    </div>

    <div class="row">
        <ul class="list-group">
            <li class="list-group-item">Coke with ice</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">A fourth item</li>
            <li class="list-group-item">And a fifth one</li>
          </ul>
    </div>
    <br/>
    <div class="row">
        <div class="col-auto me-auto">
            <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#addDrinkMenu">Add a Drink</button>
        </div>

        <div class="col-auto">
            <button type="button" class="btn btn-success">Pour Drinks</button>
        </div>
    </div>
  </div>


  <div class="modal fade" tabindex="-1" id="addDrinkMenu" data-mdb-backdrop="static" data-mdb-keyboard="false" aria-hidden="true" >
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable ">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Drink Creator</h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>I have to figure out how this will work</p>
            <p>List of common drinks here</p>
            <p>custom drink maker</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}