{% extends "layout.html" %}
{% block content %}


<div class="container align-items-center justify-content-center h-100">
  <div class="row">
    <h1>Create an Order</h1>
    <p></p>
  </div>
  <div class="row" style="padding-bottom: 20px;">
    <div class="col align-middle" style="padding-left:0px">
      <div class="progress rounded" style="height: 34px">
        <div class="progress-bar progress-bar-animated" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0"
          aria-valuemax="{{maxDrinks}}" id="progressBar"></div>
      </div>
    </div>

    <div class="col-2">
      <select class="form-control" id="cupSize">
        <option>8 oz</option>
        <option>10 oz</option>
        <option>12 oz</option>
      </select>
    </div>
  </div>

  <div class="row">
    
    <ul class="list-group listEmpty" id="mainList">
      <li class="list-group-item text-center">

        <p></p><i class="fas fa-glass-cheers fa-6x"></i>
        <p></p>
        <p>
          no drinks added... yet 
        </p>
      </li>

    </ul>
  </div>
  <br />
  <div class="row">
    <div class="col-auto me-auto" style="padding-left: 0px;">
      <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#addDrinkMenu">Add a
        Drink</button>
    </div>

    <div class="col-auto">
      <button type="button" class="btn btn-success">Pour Drinks</button>
    </div>
  </div>
</div>


<div class="modal fade" tabindex="-1" id="addDrinkMenu" data-mdb-backdrop="static" data-mdb-keyboard="false"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Drink Selector</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- to do: do recents drinks scrapped from log-->
        <div class="accordion" id="drinkSelector">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFav">
              <button class="accordion-button" type="button" data-mdb-toggle="collapse" data-mdb-target="#collapseFav"
                aria-expanded="true" aria-controls="collapseFav">
                Favorite Drinks
              </button>
            </h2>
            <div id="collapseFav" class="accordion-collapse collapse show" aria-labelledby="headingFav"
              data-mdb-parent="#drinkSelector">
              <div class="accordion-body">
                {% for drink in drinksFav %}
                <div class="form-check" style="padding-bottom: 5px;">
                  <input class="form-check-input" type="checkbox" value="" id="ckf-{{drink.id}}"
                    name="ckf-{{drink.name}}" />
                  <label class="form-check-label" for="ckf-{{drink.id}}">{{drink.name}}</label>
                </div>

                {% endfor %}
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingAll">
              <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#collapseAll" aria-expanded="false" aria-controls="collapseAll">
                All Drinks
              </button>
            </h2>
            <div id="collapseAll" class="accordion-collapse collapse" aria-labelledby="headingAll"
              data-mdb-parent="#drinkSelector">
              <div class="accordion-body">
                {% for drink in drinks %}
                <div class="form-check" style="padding-bottom: 5px;">
                  <input class="form-check-input" type="checkbox" value="" id="ck-{{drink.id}}"
                    name="ck-{{drink.id}}" />
                  <label class="form-check-label" for="ck-{{drink.id}}">{{drink.name}}</label>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingCst">
              <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#collapseCst" aria-expanded="false" aria-controls="collapseCst">
                Custom Drink
              </button>
            </h2>
            <div id="collapseCst" class="accordion-collapse collapse" aria-labelledby="headingCst"
              data-mdb-parent="#drinkSelector">
              <div class="accordion-body">

                <table class="table">
                  <tbody>
                    {% for tap in taps %}
                    <tr>
                      <th scope="row" class="align-middle">

                        <div class="form-check" style="padding-bottom: 5px;">
                          <input class="form-check-input" type="checkbox" value="" id="tp-{{tap.id}}"
                            name="tp-{{tap.id}}" />
                          <label class="form-check-label" for="tp-{{tap.id}}">{{tap.display}}</label>
                        </div>

                      </th>
                      <td class="align-middle">
                        <div class="form-outline"><input type="number" id="portion-{{tap.id}}"
                            name="portion-' + name + '" class="form-control form-control-lg" /><label class="form-label"
                            for="portion-' + name + '">Portion</label></div>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>

              </div>

            </div>
          </div>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="cancelAdd">Cancel</button>
        <button type="button" class="btn btn-primary" id="drinkAdd">Add</button>
      </div>
    </div>
  </div>
</div>
<script>

  var availableDrinks = [
    {% for drink in drinks %}
  { name: '{{drink.name}}', code: '{{drink.code}}', id: '{{drink.id}}' },
  {% endfor %}
];
  var availableTap = [
    {% for tap in taps %}
  { name: '{{tap.name}}', display: '{{tap.display}}', id: '{{tap.id}}' },
  {% endfor %}
    ];
  var chosenDrinks = [

  ];
  


  $('#createDrink').on('shown.bs.modal', function () {
    $('#dname').focus();
    document.querySelectorAll('.form-outline').forEach((formOutline) => {
      new mdb.Input(formOutline).init();
    });
  });

  $('#cancelAdd').click(function (e) {
    unselectAll();
    $('#addDrinkMenu').modal('hide');

  });

  $('#drinkAdd').click(function (e) {
    if ($('#collapseFav').hasClass('show')) {
      // Handle Favorites
      availableDrinks.forEach(dk => {
        if ($('input[id="ckf-' + dk.id + '"]').is(':checked')) {
          addListItem(dk.name, dk.id, dk.coke);
        }
      });
    } else if ($('#collapseAll').hasClass('show')) {
      // Handle All Drinks Orders
      availableDrinks.forEach(dk => {
        if ($('input[id="ck-' + dk.id + '"]').is(':checked')) {
          addListItem(dk.name, dk.id, dk.code);
        }
      });

    } else if ($('#collapseCst').hasClass('show')) {
      // Handle Custom Drinks
      alert('custom logic coming soon');
    }


    unselectAll();
    $('#addDrinkMenu').modal('hide');

  });


  function addListItem(name, id, code) {
    if ($('#mainList').hasClass('listEmpty') == true) {
      $('#mainList').empty();
      $('#mainList').removeClass('listEmpty');
    };
    if (chosenDrinks.length >= {{maxDrinks}}) {
      alert('Added too many drinks');
      return;
    }
    code = '<div class="row" style="padding-bottom: 10px; padding-top:10px">'
      + '<div class="col-auto me-auto"><h2>'
      + name
      + '</h2></div>'
      + '<div class="col-auto">'
      + '<select class="form-control" id="iceOption"><option>ice</option><option>1/2 ice</option><option>no ice</option></select>'
      + '</span></div>'
      + '<div class="col-auto">'
      + '<button type="button" class="close" data-dismiss="alert" aria-label="Close" id="removeItem"><span aria-hidden="true">&times;</span></button>'
      + '</div>'
      + '</div>';
      // add button for like a dash of lime
    $('#mainList').append('<li class="list-group-item " id="list-' + name +  '"">' + code + '</li>');
    chosenDrinks.push({ name: name, code: code });
    updateProgress();
  };

  function addCustomItem(name, id, code) {
    // needs to be added
    if ($('#mainList').hasClass('listEmpty') == true) {
      $('#mainList').empty();
      $('#mainList').removeClass('listEmpty');
    };
    code = '<div class="row" style="padding-bottom: 10px; padding-top:10px">'
      + '<div class="col-auto me-auto"><h2>'
      + name
      + '</h2></div>'
      + '<div class="col-auto">'
      + '<select class="form-control" id="iceOption"><option>ice</option><option>1/2 ice</option><option>no ice</option></select>'
      + '</span></div>'
      + '<div class="col-auto">'
      + '<button type="button" class="form-control" id="removeItem">&times;</button>'
      + '</div>'
      + '</div>';
      // add button for like a dash of lime
    $('#mainList').append('<li class="list-group-item " id="list-' + name +  '"">' + code + '</li>');
    chosenDrinks.push({ name: name, portion: 0 });
  };


  $('#removeItem').click(function (e) {
    alert('test');
    alert($(this).parent.html);
    
    //chosenDrinks = $.grep(chosenDrinks, function (value) { return value.name != name; });
  });

  function unselectAll() {
    availableDrinks.forEach(dk => {
      $('input[id="ck-' + dk.id + '"]').prop('checked', false);
      $('input[id="ckf-' + dk.id + '"]').prop('checked', false);
    });
    availableTap.forEach(tp => {
      $('input[id="tp-' + tp.id + '"]').prop('checked', false);
      $('input[id="portion-' + tp.id + '"]').val('');
    });
    $('#collapseFav').addClass('show')
    $('#collapseAll').removeClass('show')
    $('#collapseCst').removeClass('show')
  };

  function updateProgress() {
    progress = chosenDrinks.length;
    $('#progressBar').attr('aria-valuenow', progress);
    $('#progressBar').width(progress/{{maxDrinks}}*100 + '%');
  }
</script>
{% endblock %}